{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Startedat</th>
                <th>Isactive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for edition in editions %}
            <tr>
                <td><a href="{{ path('edition_show', { 'id': edition.id }) }}">{{ edition.id }}</a></td>
                <td>{{ edition.name }}</td>
                <td>{% if edition.startedAt %}{{ edition.startedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if edition.isActive %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('edition_show', { 'id': edition.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('edition_edit', { 'id': edition.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('edition_activate', { 'id': edition.id }) }}">Activate</a>
                        </li>
                        <li>
                            <a href="{{ path('edition_start', { 'id': edition.id }) }}">Start</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('edition_new') }}">Create a new edition</a>
        </li>
    </ul>
{% endblock %}
