{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
	<div class="main container">
		<div class="row well">
			<div class="col-md-6">
				<div class="page-header">
					<h2>Add photos</h2>
				</div>
				{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
				    <h4 class="text-danger">{{ form_errors(form) }}</h4>

					<fieldset>
					    <div class="form-group">
					        {{ form_row(form.filenames) }}
					    </div>
					</fieldset>

				    <p>
				        <input type="submit" value="Add" class="btn btn-sn btn-success" />
				    </p>

				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}