{% extends 'base.html.twig' %}

{% block body %}
    <h1>Image</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ image.filenames }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if image.createdAt %}{{ image.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('image_index', parameters = {'idgriller' :  app.request.attributes.get('_route_params')['idgriller']}) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('image_edit', { 'id': image.id, 'idgriller' :  app.request.attributes.get('_route_params')['idgriller']}) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
