{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
	<div class="main container">
		<div class="row well">
			<div class="col-md-6">
				<div class="page-header">
					<h2>Edit runner</h2>
				</div>
				{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
				    <h4 class="text-danger">{{ form_errors(form) }}</h4>

					<fieldset>
					    <div class="form-group">
					        {{ form_label(form.code) }}
					        {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
					        <span class="text-danger">{{ form_errors(form.code) }}</span>
					    </div>
					    <div class="form-group">
					        {{ form_label(form.name) }}
					        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
					        <span class="text-danger">{{ form_errors(form.name) }}</span>
					    </div>
					</fieldset>

				    <p>
				        {{ form_widget(form.save, {'label' : 'Update Runner', 'attr': {'class': 'btn btn-success'}}) }}
				    </p>

				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}