{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
	<div class="main container">
		<div class="row well">
			<div class="col-md-6">
				<div class="page-header">
					<h2>Edit griller</h2>
				</div>
				{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
				    <h4 class="text-danger">{{ form_errors(form) }}</h4>

					<fieldset>
					    <div class="form-group">
					        {{ form_label(form.name) }}
					        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
					        <span class="text-danger">{{ form_errors(form.name) }}</span>
					    </div>
					    <div class="form-group">
					        {{ form_label(form.phone) }}
					        {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
					        <span class="text-danger">{{ form_errors(form.phone) }}</span>
					    </div>
					    <div class="form-group">
					        {{ form_label(form.instagram) }}
					        {{ form_widget(form.instagram, {'attr': {'class': 'form-control'}}) }}
					        <span class="text-danger">{{ form_errors(form.instagram) }}</span>
					    </div>
					    <div class="form-group">
					        {{ form_label(form.team) }}
					        {{ form_widget(form.team, {'attr': {'class': 'form-control'}}) }}
					        <span class="text-danger">{{ form_errors(form.team) }}</span>
					    </div>
					    <div class="form-group">
					        {{ form_row(form.photo) }}
					    </div>
					</fieldset>

				    <p>
				       <input type="submit" value="Edit" class="btn btn-sn btn-success" />
				    </p>

				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}