{% extends('layout.html.twig') %}

{% block body %}

<div class="container">
<div class="">
<div class="table-responsive">
<table class="table table-striped table-hover">
    <tr>
        <td align="center"><img src="{{asset('uploads/photos/kitlogo.png')}}" width=300 /></td>
    </tr>
    <tr>
        <td align="center">{{griller.name}}</td>
    </tr>
    <tr>
        <td align="center"><img src="{{asset('uploads/photos/' ~ griller.photo)}}" width=300 /></td>
    </tr>
    <tr>
        <td class="actions" align="center"><a href="{{ path('place_index') }}" class="btn btn-sn btn-primary">Places</a></td>
    </tr>
    <tr>
        <td class="actions" align="center"><a href="{{ path('runner_results') }}" class="btn btn-sn btn-info">Race Results</a></td>
    </tr>
    <tr>
        <td class="actions" align="center"><a href="{{ path('griller_edit',{ 'id': griller.id }) }}" class="btn btn-sn btn-warning">Edit Profile</a></td>
    </tr>
    <tr>
        <td class="actions" align="center"><a href="{{ path('image_new',{ 'idgriller': griller.id }) }}" class="btn btn-sn btn-success">Add photos</a></td>
    </tr>
    <tr>
        <td class="actions" align="center"><a href="{{ path('image_index',{ 'idgriller': griller.id }) }}" class="btn btn-sn btn-secondary">View photos</a></td>
    </tr>
    <tr>
        <td class="actions" align="center"><a href="{{ path('griller_team',{ 'id': griller.id }) }}" class="btn btn-sn btn-danger">View Team</a></td>
    </tr>
</table>
</div>
</div>
</div>
{%endblock %}