{% extends('layout.html.twig') %}

{% block body %}

	<div class="container">
		<div class="">
			<div class="page-header margin-none">
				<h2 class="padding-none">{{ race.name }}'s Results <br /></h2>
				<h3 class="padding-none">Started at: {{race.startedAt|date('d-m-Y H:i:s','Europe/Madrid')}}</h3>
			</div>
			<div class="table-responsive">
<table class="table table-striped table-hover">
    <tr>
        <th>Position</th>
        <th>Number</th>
        <th>Name</th>
        <th>Chrono</th>
    </tr>
    {% set index = 1 %}
    {% for runner in runners %}
    <tr>
        <td>{{index}}</td> 
        <td>{{runner.number}}</td>
        <td>{{runner.name}}</td>
        <td>{{runner.chronoString()}}</td>
    </tr>
    {% set index = index+1 %}
    {% endfor %}
</table>
</div>
</div>
</div>
{%endblock %}